.unlock-logo {
  vertical-align: middle;
}

.btn--load {
  height: 44px;
}

.btn--hidden {
  opacity: 0;
}

.cards .column {
    padding: .4rem;
}

.card {
  position: relative;
  cursor: pointer;
}

.card[data-face="recto"] .verso-only,
.card[data-face="verso"] .recto-only {
  display: none;
}

.card.discarded {
  opacity: 0.2;
}

.card .card-image {
  padding-top: 0;
}

.card-footer {
  position: absolute;
  bottom: 0;
  display: none;
}

.card:hover .card-footer {
  display: block;
}

.modal-container {
  max-height: 100vh;
}

.modal-container img {
  width: 500px;
}

.rotate {
  transform: rotate(90deg);
}

[data-action] {
  cursor: pointer;
}
