name: test
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/cache@v5
        with:
          key: npm-${{ hashFiles('package-lock.json') }}
          path: |
            node_modules/
      - run: npm install
      - run: npm run lint
