name: test
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          key: npm
          path: |
            node_modules/
      - run: npm install
      - run: npm run lint

